.App body {
  font-family: "Quicksand", sans-serif;
  margin: 30px;
  max-width: 700;
}
.App ul {
  list-style-type: none;
  font-size: 15px;
  padding: 0;
  text-align: center;
  margin: 40px 0;
}
.App li {
  font-size: 12px;
  padding: 4px;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 10px 0px;
  border-radius: 10px;
  color: black;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}

.App li div {
  font-size: 16px;
}
.App strong {
  font-weight: 700;
}
.App footer {
  font-family: "Quicksand", sans-serif;
  text-align: center;
  padding: 10px;
  margin-bottom: 30px;
  font-size: 14px;
}
.App #source-code {
  text-decoration: none;
  color: darkcyan;
}
.App #source-code:hover {
  color: rgb(100, 161, 197);
}

.container {
  background: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/028/984/original/parrish-freeman-H1lq6G3WCdQ-unsplash.jpg?1647004335")
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 500px;
  text-align: center;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.5);
}
.App .actual-city {
  font-size: 30px;
  color: white;
  margin: 10px;
}
.App .actual-date {
  color: white;
  font-weight: 100;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;

  background-color: transparent;
}

.App .img-icon {
  width: 130px;
}
.App .weather-description {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
}
.App .actual-temperature {
  font-weight: 100;
  color: white;
}
.App .degree {
  font-size: 14px;
  text-align: left;
}
.App #celsius,
.App #fahrenheit {
  text-decoration: none;
  color: white;
}
.App #celsius:hover,
.App #fahrenheit:hover {
  color: #ffc107;
}
.App .c {
  margin-top: 50px;
  padding: 20px;
}
.App .t {
  text-align: left;
}
.App #temp {
  font-size: 120px;
}

.App .day-info {
  border: 2px solid #ffc107;
  margin: 10px 4px;
  border-radius: 10px;
  color: white;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  transition: all 200ms ease-in-out;
}
.App .day-info:hover {
  color: black;
  background-color: #ffc107;
  margin: 0 4px;
}
.App .day-info:hover .day {
  color: black;
  font-size: 14px;
}
.App #searched-city {
  border: none;
  border-radius: 10px;
  padding: 6px 0 6px 6px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}

.App #search-button {
  border: 2px solid #ffc107;
  border-radius: 20px;
  color: white;
  background-color: transparent;
  margin: 5px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  transition: all 200ms ease-in-out;
}
.App #search-button:hover {
  background-color: #ffc107;
  color: black;
}

.App #here-now {
  font-size: 13px;
  border: 2px solid #ffc107;
  padding: 3px 10px;
  position: relative;
  bottom: 1.5px;
  color: white;
  font-weight: 400;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  transition: all 200ms ease-in-out;
}
.App #here-now:hover {
  color: black;
}
.App .forecast {
  margin-left: 25px;
}
.App .day {
  font-size: 12px;
  color: #ffc107;
}
.App .temperature {
  font-size: 14px;
  width: 60px;
}
.App .icon-forecast {
  width: 40px;
  margin: 0;
  padding: 0;
}

.App .max {
  font-weight: 500;
}
.App .min {
  font-weight: 100;
  opacity: 0.7;
}
