body {
  font-family: "Quicksand", sans-serif;
  margin: 30px;
  max-width: 700;
}
.container {
  background: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/028/984/original/parrish-freeman-H1lq6G3WCdQ-unsplash.jpg?1647004335")
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 500px;
  text-align: center;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.5);
}
#source-code {
  text-decoration: none;
  color: #ffc107;
}
#source-code:hover {
  color: rgb(100, 161, 197);
  font-weight: 600;
}
footer {
  text-align: center;

  padding: 10px;

  font-size: 14px;
}
